<div class="container-fluid container-fluid-custom">
        <h2 class="mt-5 text-center">Frequently Asked Questions</h2>

        <div class="mt-5">
            <h3>What is Notesify App?</h3>
            <p> Notesify is a powerful tool for organizing and managing your notes and thoughts. It allows you to create, edit, and organize notes with ease.</p>
        </div>

        <div class="mt-5">
            <h3>How can I create a new note?</h3>
            <p>To create a new note, simply click the "New Note" button on the dashboard. You can then give your note a title and start adding content.</p>
        </div>
        
        <div class="mt-5">
            <h3>How can I find my notes?</h3>
            <p> You can easily access your notes in the dashboard, you can even search for your notes with keywords! </p>
        </div>

</section>

</div>