<div class="container-fluid container-fluid-custom">

    <div class="mt-5">
        <h1>Searching made EASY!</h1>
        <p>Find notes by searching for titles,content</p>
    </div>

    <div class="mt-5">
        <h1>Privacy Matters!</h1>
        <ul>
        <li>You have to login to your Google account in order to write and access your notes!</li>
        <li>Others won't able to see your notes!</li>
        </ul>
    </div>

</div>